<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<h:head>
    <title><ui:insert name="pageTitle"/></title>
</h:head>
<h:body>
    <b:navBar brand="HardwareStore" brandHref="#" fluid="true">
        <b:navbarLinks pull="right"><b:navLink value="    " href="#"></b:navLink></b:navbarLinks>
        <b:navbarLinks pull="right">
            <b:navLink value="Users" href="#"></b:navLink>

            <b:button  icon="shopping-cart" look="success" size="lg"/>
        </b:navbarLinks>
    </b:navBar>
    <b:container fluid="true">
        <ui:insert name="pageContent"/>
    </b:container>
</h:body>
</html>